.leaflet-div-icon-klein0 {

  text-align:center;
  font-size: 18px;
  color: black;
  -ms-transform: rotate(100deg); /* IE 9 */
  -webkit-transform: rotate(100deg); /* Chrome, Safari, Opera */
  transform: rotate(100deg);


}

.leaflet-div-icon-klein1-1 {
  background:none;
  color:black;
  font-weight:bold;
  text-align:center;
  font-size: 25px;
}

.leaflet-div-icon-klein1 {
  background:none;
  color:white;
  font-weight:bold;
  text-align:center;
  font-size: 25px;
  line-height:0px;
}


.leaflet-div-icon-klein2 {
  background:none;
  color:white;
  font-weight:bold;
  text-align:center;
  line-height:0px;
  font-size: 28px;
}


.leaflet-div-icon-klein-s1 {
  background:none;
  color:black;
  font-weight:bold;
  text-align:center;
  font-size: 25px;
  letter-spacing:0.1em;
  line-height:0px;
}

.leaflet-div-icon-mittel {
  background:none;
  color:white;
  font-weight:bold;
  text-align:center;
  font-size: 40px;
  font: arial;
  line-height:0px;

}

.leaflet-div-icon-mittel-vertikal {
	
	word-wrap: break-word;
	font-size:28px;
	width:1em;
	box-sizing:border-box;
	text-transform:uppercase;
	cursor: vertical-text;
	color:white;
	font-weight:bold;
	font-size: 45px;
}

.leaflet-div-icon-mittel-groß {
  color:white;
  font-weight:bold;
  text-align:center;
  font-size: 45px;
  line-height:0px;
}

.leaflet-div-icon-groß {
	word-wrap: break-word;
	box-sizing:border-box;
	text-transform:uppercase;
	cursor: vertical-text;
	color:white;
	font-weight:bold;
	font-size: 45px;
}
