.leaflet-bar button,
.leaflet-bar button:hover {
	opacity: 1;
	width: 40.5px;
	height:40.5px;
	border: 0px solid #fff;
	border-radius: 100px;
	border-color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
	font-size: 1.4em;
  cursor: pointer;
  
}



.leaflet-bar button {
  background-color: rgba(255, 255, 255, 1);	
  width: 40.5px;
	height:40.5px;
}

.leaflet-bar button:hover {
  

}

.leaflet-bar button:first-of-type {
  
}

.leaflet-bar button:last-of-type {
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.1;
  display: none;
  

}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  position: relative;
  
  
}

.leaflet-touch .leaflet-bar button {
  width: 40.5px;
  height:40.5px;
  max-height: 10000px;
  max-width: 10000px;
  line-height: 30px;
}

.easy-button-container {
	opacity: 1;
 
}

/*-----------------------------------------Hier: Routing-Funktion freigeben--------------------------------------------------------------*/
.state-remove-routing,
.state-add-routing{
  transition-duration: .5s;
  position: absolute;
  display: block;
  top: 0;
  font-size: 1.1em; 
}

.state-remove-routing{
  margin-top: -31px;
  
  }

.state-add-routing{
  visibility:hidden; 
}

.state-remove-routing.remove-routing-active{
  transform: rotate(133deg);
  margin-left: 0px;
  font-size: 1.1em; 
  color: #FC8428;
}

.state-add-routing.add-routing-active{
  }

 
 /*-----------------------------------------Hier: Routing zu Fuß--------------------------------------------------------------*/
.state-remove-routingWalk,
.state-add-routingWalk{
  transition-duration: .5s;
  transform: scaleY(1);
  position: absolute;
  display: block;
  top: 0;
}

.state-remove-routingWalk{
  margin-top: -29px;
  margin-left: 0px;
  }

.state-add-routingWalk{
  visibility:hidden;
}

.state-remove-routingWalk.remove-routingWalk-active{
  color: #FC8428;
}

.state-add-routingWalk.add-routingWalk-active{
  }
  
/*-----------------------------------------Hier: Routing per Auto--------------------------------------------------------------*/
.state-remove-routingCar,
.state-add-routingCar{
  transition-duration: .5s;
  transform: scaleY(1);
  position: absolute;
  display: block;
  top: 0;

}

.state-remove-routingCar{
    margin-top: -30px;
    margin-left: 1px;
  }
.state-add-routingCar{

  visibility:hidden;
  
}

.state-remove-routingCar.remove-routingCar-active{

  color: #FC8428;
  

}

.state-add-routingCar.add-routingCar-active{
  
  
  }
/*------------------------------------------------------------------*/
.state-removePoints{
 margin-left:1px;
 margin-bottom:1px;
 font-size: 0.9em;
  
}
