/* Compatible with Leaflet 0.7 */
.leaflet-control-locate a,
.leaflet-control-locate a:hover{
	opacity:1;
	border: 0px solid #fff;
	border-radius: 100%;
	border-color: rgba(0, 0, 0, 1);
	margin-left:4px;
	margin-top: 6px;
	background-image: url(images/gps-marker-before.svg);
	font-size: 1em;
}



.leaflet-control-locate {
	opacity: 1;
	border: 1px solid #fff;
	border-radius: 100%;
	border-color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);
	font-size: 1em;
	width: 40.5px;
	height:40.5px;
	
  
  
}


.leaflet-control-locate.active a:hover,
.leaflet-control-locate.active a {
  /*color: #2074B6;*/
	color: #f23;
	border-radius: 100%;
	margin-left:4px;
	margin-top: 6px;
	font-size: 1em;


	
}
.leaflet-control-locate.active.following a {
  color: #f23;
  border-radius: 100%;
	
}
