/* Compatible with Leaflet 0.7 */
.leaflet-control-locate a,
.leaflet-control-locate a:hover{
  opacity:1;
	border-radius: 100%;
	margin-left:25%;
	margin-top: 4.5px;
	width: 3px;
	height:3px;
		border: 1px solid #fff;
	
}



.leaflet-control-locate {
	opacity: 1;
	width: 37.5px;
	height:37.5px;
	border: 1px solid #fff;
	border-radius: 100%;
	border-color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);	
	font-size: 1.6em;
  margin-left: 1000px;
	margin-top: 100px;
	


}



.leaflet-control-locate.active a {
  /*color: #2074B6;*/
	color: #FC8428;
	border-radius: 100%;
	margin-left:13px;
	margin-top: 4.5px;
	width:0px;
}
.leaflet-control-locate.active.following a {
  color: #FC8428;
  border-radius: 100%;

}
